{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to Universal Tech Academy.</h1>

            {% if session['username'] %}
                <h3>Let's get started.</h3>
            {% else %}
                <p>Already registered? <a href="{{url_for('login') }}">Login</a></p>
            {% endif %}

            <br><br>
            <div style="text-align:left;">
                <ul>
                  <li class="no-padding"><p>UTI is an educational institution and cannot guarantee employment or salary.</p></li>
                  <li class="no-padding"><p>UTI’s Automotive Technology program is 51-weeks. Core program length varies by subject. 
                    For example, Diesel & Industrial Technology is 45-weeks and Automotive/Diesel Technology is 75-weeks.</p></li><br>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
